<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#4286f4">
<table>
<th><a href="../../../start_here.html">Home</a></th>
</table>

<div style="float: right" id="Faction profile table">
<table>
<tr>
<th>Capital</th>
<td></td>
</tr>
<tr>
<th>Population</th>
<td></td>
</tr>
<tr>
<th>Currency</th>
<td></td>
</tr>
<tr>
<th>Language(s)</th>
<td></td>
</tr>
<tr>
<th>Government</th>
<td></td>
</tr>
</table>
</div>

<h1>History</h1>
<h2>Background</h2>
By the political centralization of Meso-America under tribute
networks, the Aztec empire was born in the midst of near-constant
warring with neighboring states. Aztec scientists, working with
available resources, invested in the study of mathmatics, astronomy,
and surgery. A vast network of villages provided tribute to the 
central urban region's royalty.

<h2>Divine rule</h2>
The introduction of the divines was met with immediate violent 
retaliation, up until the point at which the Aztec king was killed.
Following the change of leadership, the Aztec people now found
themselves the recipients of divine blessings and curses used to
reward and punish behavior. Human sacrifices and intense prayer were
offered in exchange for generous rainfall as well as protection 
from political enemies. These two factors allowed the populations
of the region to grow steadily and further embellish the urban
regions with stone structures built by a new source of slave labor
from northern tribes. The divines made a point of transforming
their most loyal followers into beasts of great physical and magical
strength. 

<h1>Military</h1>

<h1>Government and Politics</h1>

<h1>Economy</h1>

<h1>Culture</h1>
</body>
