<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#fffb2b">

<table>
<th><a href="../start_here.html">Home</a></th>
</table>
<h1>Bestiary</h1>
<div>
This file provides a list of life forms one could expect to encounter in the
hifi universe.
</div>

<h2>Humanoids</h2>

<h3>Human</h3>
<div>
Natives of the overworld, humans are the jack of all trades when it comes to mortal creatures. Their main advantage is their variety of viable skillsets, whilst their weakness is difficulty with which they master learned skills. 
</div>

<h3>Gnome</h3>
<div>
The gnomes were a divine answer to starvation and a need for technological progress. A gnome can live on a small fraction of what a human can. A gnome's mind does not suffer from the difference of size, though their nimble fingers aid them greatly in fine motor skills. A gnome, however, is one dropkick from being defeated in combat. 
</div>

<h3>BeastMan</h3>
<div>
Tribal worshippers were transformed into these creatures as a divine reward for service. Endowed
with the senses, stamina, and hides of the animals
they now resemble, these beast men approach their life
of nomadic hunting and gathering with exceeding ease.
</div>

<h3>Divine</h3>
<div>
Natives of the divine realm shaped by the hyper-potency of its mana. These creatures wield magic limited mostly by shear volume of mana at command. Though they often shapeshift into humanoid forms, the divines are strangers to most causes of death, and are generally only consider one another threats.
</div>

<h3>Spirit</h3>
<div>
A being made completely of mana. When they have a living host
to feed off of, they are souls and confer magical abilities.
</div>

<h3>Alpha Demon</h3>
<div>
The divines created the alpha demons from their most loyal and skilled human warriors. They sent these brave men and women into the blood realm with a powerful magic to keep them from turning to ghouls or dying of natural causes. Centuries of tireless training in the blood realm spanned mere months of war in the overworld. By virtue of the aggressive training, every inch of an Alpha demon is covered in red scarring from lacerations and burns accumulated from their hellish training and only partially assaunged by divine magic. Alpha demons do not lust for violence or death, but instead only honor from their masters. Alpha demons have thick black horns on the top of their heads to differntiate them as divine soldiers. After the divines departed from the overworld the alpha demons turned their allegience to the blood god.
</div>

<h3>Beta Demon</h3>
<div>
Often referred to as scribes, the divines transformed their most loyal philosophers, bankers, and aristocrats into the beta demons. They are short, have hooven feet, and are predisposed to powerful magics. Their use in the war on Europa was to visit villages in the overworld and use divine contracts to permanently syphon mana to their masters in exchange for petty wealth and magical favors. After the divines departed from the overworld, the beta demons continued to grow their collections of contracts, but instead leveraging the influx of mana themselves. Beta demons are held in infamy for the numerous tales of them tricking the naive and foolish into selling over their souls in misleading contracts.
</div>

<h3>Goblin</h3>
<div>
Goblins were created as a cheap foot soldier to attack Europa. They were forged from heaps of vegetation using divine fleshcraft and large amounts of mana. Goblins are small, weak, and unintelligent. They can reproduce, unlike their Orc counterparts, and even exercise weak magic when coupled with a soul. Goblins are especially cheap soldiers for invasions, as they can be fed completely on vegetation such as moss and tree bark inedible to most humanoids. 
</div>

<h3>Orc</h3>
<div>
The orcs were created as heavy infantry to support the goblins in warfare against Europa. They are transmuted into flesh from dirt and rocks using an inordinate amounts of mana and divine fleshcraft. Consequently, orcs cannot couple with souls or use arcane magic, nor do they have any ability or instinctual desire to reproduce. An added weakness of orcs is their routine need to feed on sources of mana. When supplied with mana, their bodies can use less food and heal faster. Completely cut off, however, orcs begin to deteriorate back into dirt and rocks.
</div>

<h3>Ghoul</h3>
<div>
Taken by the ghoul fever, a humanoid begins to change immediately. The resulting creature quickly forms a telepathic link with fellow ghouls and offers it's thinking to a collective consciousness. The thoughts of such a collective naturally gravitate toward securing more host organisms and spreading the ghoul fever. Necromancers and strong magical entities can often overpower the will of ghoul collectives, turning them into extremely powerful armies. As the number of ghouls in a collective grows, however, overpowering the mind becomes increasingly difficult. It is not unusual for necromancers to lose control of ghoul hordes.
</div>

<h3>Skeleton</h3>
<div>
Capable necromancers bind souls to human remains, forming skeletons. These creatures are limited to the intelligence of their spirit, which is generally gathered from creatures no more intelligent than large rats. Most skeletons, even with human souls, only vary in how they attempt to drain the nearest source of mana. This is partly due to a skeleton's main weakness: it cannot produce its own mana. This is a fact that makes skeletons ideal weapons that neither question why they are attacking, act on a sense of fear, nor outlive their usefulness for very long. Skeletons are thus the disposable armies of necromancers.
</div>

<h3>Stone Elemental</h3>
<div>
Soul stone-based life forms that can use mana for their metabolic
functions. They originate from the stone realm, which imploded
long before humans arose on the overworld. Stone elements are 
spirits subsisting off of their soul-stone vessels. Aside from
completely pulverizing a stone elemental's body into gravel or
attacking their soul directly, there is no way to kill one of
these creatures if confronted. Stone elementals often use nearby
plants, mosses, and lichens as sources of mana.
</div>

<h3>Fire Elemental</h3>
<div>
Energy-based life forms that convert heat to mana. Fire elementals
came to the overworld long before life emerged there, and were
separated from their fire realm not long after. The only way
to kill a fire elemental is to either cut them off from their
source of energy(often fire), or directly scatter their soul.
</div>

<h3>Fae</h3>
<div>
Natives to the ice realm in a time when it was covered with dense vegetation, the fae claim a special relationship with the magical fauna and flora they evolved beside. Through their previous symbiosis with the ice realm, the fae developed a biological magic not reliant upon a soul(making them immune to soul-targeted technology and attacks). The magic retained after their departure to the overworld is an instinctual mastery of healing magic that allows them to repair damaged forests and accelerate the growth of healthy ones. The fae can additionally harvest mana from a variety of living sources such as foiliage. 
</div>

<h2>Intelligent non-humanoids</h2>

<h3>Spirit</h3>
<div>
Ephemeral natives of the underworld, spirits are often found emigrating to the overworld due to its abundance of bodies that passively collect mana. Spirits that have coupled with a physical host are often referred to as souls. A host can utilize their soul to perform arcane magic.
</div>

<h3>Flesh Elemental</h3>
<div>
When enough ghouls gather in a hive mind, they form flesh elementals to serve as an intelligent leader. In addition to commanding ghouls, the Flesh Elemental absorbs organic matter and heals wounded ghouls.
</div>

<h3>Dragon</h3>
<div>
Large winged reptiles from the ice realm, dragons boast intelligence
alongside a compulsion to hoard valuables. In addition to flight,
they have the natural ability to breathe fire using inherent magic.
A dragon's blood, scales, and bones are incredibly potent alchemical
ingredients as a result of their biological use of mana.
</div>

<h2>Feral Beasts</h2>

<h3>Bear</h3>
<div>
Will often fight or flight when sighted. When berzerked, bears are known to ignore fatal damage until their central nervous system is effected.
</div>

<h3>Wolf</h3>
<div>
Wolves hunt in packs, and it is their clever use of numbers to surround and entrap their prey that makes them dangerous.
</div>

<h3>Deer</h3>
<div>
Runs when approached, and can sense odors and sounds from great distances.
</div>

<h3>Air squid</h3>
<div>
Held aloft by gas sacks and some organic magic, these
creatures use their many tentacles to drag morsels of
food from nooks and crannies. They mostly scavenge the
dead and eat smaller animals, but can attack if provoked.
</div>