<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#fffb2b">

<table>
<th><a href="../start_here.html">Home</a></th>
</table>
<h1>Bestiary</h1>
This file provides a list of life forms one could expect to encounter in the
hifi universe.

<h2>Humanoids</h2>

<h3>Human</h3>
Jack of all trades standard intelligent life.

<h3>Gnome</h3>
Tiny form of human created to function in an industrial setting. 

<h3>BeastMan</h3>
Mixture of beast and man created to answer the indigenous people's
desire to get closer to nature.

<h3>Divine</h3>
Creatures of the divine realm. Often shapeshifters and endowed
with godly magical powers. Can be killed, but not by old age
or arrows.

<h3>Spirit</h3>
A being made completely of mana. When they have a living host
to feed off of, they are souls and confer magical abilities.

<h3>Alpha Demon</h3>
Created as skilled soldiers of both mundane and arcane sources,
arch demons are obsessed with warfare.

<h3>Beta Demon</h3>
The so called 'demon scribes', beta demons were created to govern the
alpha demons. They are tiny compare to their stronger brethren, but
far more endowed with magical aptitude. In particular, the beta demons
create contracts bound magically using souls.

<h3>Goblin</h3>
Goblins were created as cheap fodder, and they excell at that task.
They breed frequently and make up for their lack of quality with
quantity. Due to their limited intelligence, they are easily tricked
by whomever they are not actively attacking at the moment.

<h3>Orc</h3>
The orcs were created as heavy infantry to support the goblins.
They gain strength and intelligence, they are incapable of magic.

<h3>Ghoul</h3>
A human taken by the ghoul fever, ghouls share a telepathic
link with one another to form a hive mind. Powerful mages 
can direct a ghoul horde through telepathic suggestions.

<h3>Skeleton</h3>
Capable necromancers can bind a souls to a skeletons in order to
raise them from the dead. Skeletons cannot produce their own mana,
and so are beholden to any entity that supplies them with it.(such
as the same necromancer that raised them)

<h3>Stone Elemental</h3>
Soul stone-based life forms that can use mana for their metabolic
functions. They originate from the stone realm, which imploded
long before humans arose on the overworld. Stone elements are 
spirits subsisting off of their soul-stone vessels. Aside from
completely pulverizing a stone elemental's body into gravel or
attacking their soul directly, there is no way to kill one of
these creatures if confronted. Stone elementals often use nearby
plants, mosses, and lichens as sources of mana.

<h3>Fire Elemental</h3>
Energy-based life forms that convert heat to mana. Fire elementals
came to the overworld long before life emerged there, and were
separated from their fire realm not long after. The only way
to kill a fire elemental is to either cut them off from their
source of energy(often fire), or directly scatter their soul.

<h3>Fae</h3>
Originating from the ice realm when it was the forest realm, 
the fae have evolved to be sustained entirely by of mana. As
autotrophs, the fae flock to mana-rich environments and protect
the plants and animals living there. They are often captured
for their magical properties by non-mages, as they are widely
known to offer powerful healing magic. In addition to directly
fighting forresters, the Fae can command the wildlife they live
with to fight on their behalf.

<h2>Intelligent non-humanoids</h2>

<h3>Free Spirit</h3>
When a body dies, its spirit is severed and wanders the overworld
in search of a new host. If the body cannot find a new body or
supply of mana, is pulled to the underworld.

<h3>Flesh Elemental</h3>
When enough ghouls gather in a hive mind, they form flesh elementals
to serve as an intelligent leader. In addition to commanding ghouls,
the Flesh Elemental absorbs organic matter and heals wounded ghouls.

<h3>Dragon</h3>
Large winged reptiles from the ice realm, dragons boast intelligence
alongside a compulsion to hoard valuables. In addition to flight,
they have the natural ability to breathe fire using inherent magic.
A dragon's blood, scales, and bones are incredibly potent alchemical
ingredients as a result of their biological use of mana.

<h2>Feral Beasts</h2>

<h3>Bear</h3>
Will often attack or flee on sight. 

<h3>Wolf</h3>
Travels in groups. Will attack smaller groups by circling.

<h3>Deer</h3>
Runs if approached.

<h3>Air squid</h3>
A flying tentacled beast from the blood realm. It lays eggs and scavenges rotting organic matter.