<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#4286f4">
<table>
<th><a href="../../../start_here.html">Home</a></th>
</table>

<div style="float: right" id="Faction profile table">
<table>
<tr>
<th>Capital</th>
<td></td>
</tr>
<tr>
<th>Population</th>
<td></td>
</tr>
<tr>
<th>Currency</th>
<td></td>
</tr>
<tr>
<th>Language(s)</th>
<td></td>
</tr>
<tr>
<th>Government</th>
<td></td>
</tr>
</table>
</div>

<h1>Carthage</h1>

<h1>History</h1>
<h2>Origin</h2>
Carthage grew off the back of the silver and bronze trade. Though
their population was quaint, their command over commodities made
them a major player economically and politically.

<h2>Mana market</h2>
Cornering silver and bronze had little impact compared to the trade opportunities created by
sending brave explorers to the Ice realm to locate and excavate the remains of dragons. The
previous dragon bones became the key ingredient to storing and utilizing mana on an industrial
level. Once non-mages learned they could purchase the ability to cast magic spells, demand
for Carthagean auto-casters allowed carthage to corner yet another market. The secrets of 
opening portals to the Ice realm were guarded fiercely. Dead mages were 


<h1>Military</h1>
<div>

</div>

<h2>The mechanized Core</h2>


<h1>Government and Politics</h1>

<h1>Economy</h1>
<h2>Corporate State</h2>
<div>
Though Carthage began as a kingdom, it quickly evolved into a corporation standing in the place of a proper government,
Despite a strong central branch headed by a king, all large companies branching from Carthage's central business each
have the resources and political influence of a province or state. Most decisions are thusly decided bby the lesser
companies of Carthage, or otherwise by a vote of the combined pool of business owners. In place of taxes are non-compulsory citizenship
fees, which entitle a citizen to certain services and rights in Carthage. Most services are opt-in, allowing poorer citizens basic rights.
The most basic of citizens, for instance, can neither be drafted nor enslaved. Runaway slaves who register as citizens cease to be slaves.
At the same time, public services such as access to private roads, fountains, or even markets, all require additional annual fees. Political
influence is one of the most expensive services, and thus is only posessed by the top rung of Carthagean society. 
</div>

<h2>Carthage Communications</h2>
<div>
As a facilitator of gobal trade, Carthage relies on the communication of disparate peoples. Carthage Communications is the 
business specialized in delivering several communications solutions.
</div>
<h3>C</h3>
<div>
C stands for "citizen", "carthage", or  "common". Employed anywhere official carthage business takes place, knowing C allows a citizen to any Carthage workplace
without ever needing to learn a second language. Consequently, citizens that achieve certifications in C are given discounts to almost all Carthagean services.
Free C classes are offered in most Carthage trade centers, although translators are on-call at all major trade centers to assist with any meetings.
</div>
<h3>The Telepathic Network</h3>
<div>
Colloquially known as "the net", the Telepathic network is a collection of services offered via the telepathic departments of most Carthage trade centers.
</div>

<div><b>Carthage Mail</b> a small fee will send a single written message between any two telepathic departments, ensuring same-day delivery.</div>

<div><b>Carthage Mobile</b> is a line of versatile handheld auto-casters. Each mobile device can connect to neighboring devices and in turn form a network
spanning far larger distances than any one telepath can be expected. Small service fees are gathered when sending a message through the mobile network,
giving mobile device owners incentive to leave their devices on as nodes in the network.</div>

<div><b>Carthage Calls</b>. A customer's thoughts can be channeled directly into a telepathic link, allowing a real-time conversation between two or more 
speakers. This is a very popular service for political and business leaders.
</div>

<div><b>Carthage Virtual</b>. The customer enters a lucid dream shared with any number of others. A virtual world with rules largely governed by the telepaths
maintaining the links. Though the entertainment potential is huge, Carthage virtual is most valuable as a training tool for military and healthcare professionals.
Military virtualizations, for instance, allow trainees to access any number of scenarios without any of the relevant equipment or accompanied personnel. A surgeon
can train on virtual patients to get a good feel for operations before ever trying on a cadaver or living patient.
</div>

<div>
<b>Carthage Cast</b> is a service that offers on-demand and live broadcasts. Service fees are paid by the broadcasters, who in turn embed paid advertisements
in their content to not only cover the operating costs, but draw a profit. Most broadcasts rely solely on radio due to the wide availability of audio chips on
mobile devices. Less common, however, are <b>televid</b> broadcasts that contain both audio and video. The requirement of a visual display or telepathic uplink
to connect directly to a viewer's mind make these sorts of broadcasts far rarer. Businesses such as clubs and restaraunts will often place visual displays 
playing live broadcasts in order to attract customers.
</div>

<h2>Carthage Energy</h2>
<div>
Carthage's many arcane technologies rely on a strong backbone of mana production, storage, and distribution. Carthage Energy solves these problems.
</div>
<div>
<b>Carthage Credits</b>, often referred to simply as credits, are a mana-based commodity money. Utilizing the Telepathic Network, citizens can process transactions
accross the globe nearly-instantly. Credits can be converted to and from raw mana, though the rates vary with supply and demand. Many merchants capitalize on this
to buy low where it is plentiful and sell high where it is not. 
</div>
<div>
A <b>Carthage Cell</b> is a standardized, mass-produced mana cell. Carthage cells are used for most of the mana-powered devices sold by Carthage.
Any empty carthage cell(even a broken one) can be traded in for a full cell for the cost of the mana itself. The reverse is true, allowing mana collection to be a
passive source of income for many citizens who own auto-casters built for mana collection. C-cells, as they are often called, are very popular in rural locations
where personally storing an excess of mana is a necessity.
</div>
<div>
<b>Carthage Mana banking</b> allows bulk deposit or withdrawal of mana with mana credits. Most trade centers have mana banks that are fueled by mana power
plants. A factory utilizing autocasters will often tap into a mana bank for its daily usage, whilst mobile devices will send a trickle of power throughout
the mobile network to keep all connected devices operational. 
</div>
<div>
<b>Mana pumps</b> are powerful mana transmission devices that can send and receive bulk quantities of mana. Trade centers lacking portals or mana power plants
often rely on mana pumps to keep the lights on. The mana lost in transfer is not only an added cost of doing business, but it attracts wildlife with magical
traits. In a military context, mana pumps are used to supply combat mages and weapons relying on auto-casters with an abundant power source from a distance.
</div>


<h2>Carthage Portal</h2>
<div>
Carthage monopolizes global trade largely by exploiting a nexus of portals opening at regular intervals. Carthage Portal is the company responsible for
portal services. These portals differ from the sort individual mages might open in that they are much larger and more stable, albeit with a much higher
mana cost. Whilst mages opening portals on the spot use guess work to calculate their exit point, Carthage's portals have distinct gateways that open
and maintain active connections using programmed auto-casting equipment.
</div>
<div>
The <b>nexus</b> is the name given to the location where Carthage's portals converge. By connecting every new portal here, Carthage ensures a transit
between portals is only limited by the activation schedule for origin and destination. The core of the nexus is stacked with hotels and restaraunts that
serve the transient population. Skyscraper apartment buildings provide the space needed for contract-workers to travel to and from their job
sites on a daily basis. The nexus also hosts storage warehouses utilized by all Carthage trade centers, allowing the utmost economy of scale when producing
goods for Carthage. Any location adjacent to a Carthage trade center connected to the nexus has access to farm-fresh exotic produce, raw materials
from mines and lumber camps, and a range of on-call labor from construction crews to doctors.
</div>

<h2>Carthage Fleet</h2>
<div>
The Fleet consists of more than a dozen airborn trade ships, each containing a portal for power supply and trade. Trade ships grant on-demand portal access anywhere on the globe. By tapping into the global supply of labor and specialized equipment, individual farms, forests, and mines can be cleared like clockwork. Likewise rapid construction allows any suitable section of wilderness to become a flourishing city with a trade center in months. 
</div>
<div>
With heavy modifications, trade ships can even enter the depths of space to retrieve rocks and metals. The on-board portal doubles as a ventilation system and a rotating crew that lives off-ship. The moon base was constructed via Carthage Fleet.
</div>

<h1>Culture</h1>
<h2>The Path To Acquisition</h2>
<div>
The unwritten law of Carthagean society is growth or decline. For the entrepeneurs and government workers the reality of growing a passive source of income and retiring to a life of corporate aristocracy is a real possibility. The promise of a high standard of living for the upper classes draws immigrants from all corners of the overworld to join Carthage's workforce.
</div>

<h2>Entertainment</h2>
<div>
Rich or poor, Carthage's citizens love the same forms of entertainment. Whilst the wealthy watch Casts on their personal mobile devices, the poor often huddle around any public display or file into theaters. Music echoes through the halls of almost all trade centers. Government announcements, competitions, and news programs are broadcast live on most live channels, allowing the public to be kept in the loop about matters local and foreign.
</div>

<h2>Status</h2>
<div>
Whilst most Carthage citizens aspire to be rich, none endeavor to be poor. Fancy jewelry and pristeen outfits are worn as a show of high social standing. As a rule, the less practical the outfit, the more expensive and sought after it becomes. Fashion is a moving target. In addition to fashion themes for the numerous holidays, trends are quick to come, go, and then return. It's not uncommon for the poor to purchase out-of-style outfits in hopes the style will return and raise the price of the clothing above the price paid.
</div>

</body>

