<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#b737fc">
<table>
<th><a href="../../../start_here.html">Home</a></th>
</table>


<h2>History</h2>
<div>
There are two parts of history within this universe.
Firstly, there is the <b>expositional</b> part that tells the origin stories
of people, places, and things. Following is the <b>interactive</b> portion which
does not fit into a linear or branching scheme due to the resolution of an 
overwhelming number of events being held in the hands of a player or simulation.
</div>


<h3>Exposition at a glance</h3>
<b>The singularity</b>
<div>
	Humanity in its final years created a runaway super-intelligence that harnessed the resources of space and time
	with the single-minded goal of creating a simulation of a multiverse. 
</div>
<div>
	The rules of the multiverse were simple enough. Each universe was identical to the one the singularity came from, 
	except with a twist. For all but one universe, this twist was the addition of a manum particle, a substance of
	magic with properties unique to that universe. For the remaining universe, no magic was directly introduced. Instead, the membrane separating this universe from the others was permeable and portals could be made by harnessing the magic of the other universes. The overworld is identical to Earth, aside from what changes the visitors from the other versions of Earth make.
</div>
<b>Migration timeline</b>
<div>
	These events are roughly ordered by chronology.
</div>
<li>Fire Elementals inhabit the overworld's core and nearest star.</li>
<li>Stone Elementals nest deep into the overworld's crust. </li>
<li>Fae and Dragons settle into continental North America.</li>
<li>Divines enter overworld.</li>
<li>World superpowers expand exponentially under their new divine rulers.</li>
<li>Europa destroys several divines and itself in an act of mutually-assured destruction when it is invaded.</li>
<li>Majority of remaining divines called the caretakers drag all lesser divines out of the overworld with them and reinforce the membrane against future portals.</li>
<li>Economies reliant upon divine intervention collapse irreversibly, leaving scattered ruins abandoned by starving masses.</li>
<li>Blood god sends minions to spread the ghoul fever and harvest bodies with which to build an army.</li>
<li>Remaining world superpowers launch competing expeditions into the Europan wastelands in hopes of re-discovering nuclear power and using it to regain economic and political power.</li>

<h3>Interactive part at a glance</h3>