<!DOCTYPE html>
<h1>Hifi universe</h1>

<div style="background-color: #4286f4">
<h2>Factions</h2>
<h3>Africa</h3>
<ul>
<li><a href="?page=carthage">Carthage</a></li>
</ul>
<h3>Americas</h3>
<ul>
<li><a href="?page=aztec">Aztec</a></li>
<li><a href="?page=incan_empire">Incan Empire</a></li>
<li><a href="?page=iriqouis">Iriqouis</a></li>
</ul>
<h3>Asia</h3>
<ul>
<li><a href="?page=han_empire">Han Empire</a></li>
<li><a href="?page=united_mahajanapadas">United Mahajanapadas</a></li>
</ul>
<h3>Europe</h3>
<ul>
<li><a href="?page=demon_army">Demon Army</a></li>
<li><a href="?page=europa">Europa</a></li>
<li><a href="?page=persia">Persia</a></li>
<li><a href="?page=roman_empire">Roman Empire</a></li>
</ul>
</div>

<div style="background-color : #42f47d">
<h2>Magic and Technology</h2>
<ul>
<li><a href="?page=arcane_arts">Arcane Arts</a></li>
<li><a href="?page=divine_arts">Divine Arts</a></li>
<li><a href="?page=magicnology">Magicnology</a></li>
<li><a href="?page=mundane_technology">Mundane Technology</a></li>
</ul>
</div>

<div style="background-color : #fffb2b">
<h2>Characters and Races</h2>
<ul>
<li><a href="?page=bestiary">Bestiary</a></li>
<li><a href="?page=pantheon">Pantheon</a></li>
</ul>
</div>

<div style="background-color : #b737fc">
<h2>History</h2>
<ul>
<li>Coming Soon</li>
</ul>
</div>

<div style="background-color : #ff4f4f">
<h2>Geography and Realms</h2>
<ul>
<li>Coming Soon</li>
</ul>
</div>
