<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#4286f4">
<table>
<th><a href="../../../start_here.html">Home</a></th>
</table>

<div style="float: right" id="Faction profile table">
<table>
<tr>
<th>Capital</th>
<td></td>
</tr>
<tr>
<th>Population</th>
<td></td>
</tr>
<tr>
<th>Currency</th>
<td></td>
</tr>
<tr>
<th>Language(s)</th>
<td></td>
</tr>
<tr>
<th>Government</th>
<td></td>
</tr>
</table>
</div>

<h1>History</h1>
<h2>Divine intervention</h2>
<div>
The Iriquois were experiencing an extended period of peace at the time of the divine arrival.
The scarcely-populated homeland was overlooked by power-seeking divines, but became the home
of the <b>nature goddess</b>. She befriended fae, human, and dragon alike when she came
bearing gifts for all. After a very cursory survey of the humans in the region, she offered
her services in transformation. 
</div>

<div>
The nature goddess turned willing worshippers into half-beast creatures. By giving up their
pure human form they gained endurance, strength, claws, jaws, and a heightened set of senses.
Feared at first, the transformation ceremony was quickly accepted due to the shear utility
of such advantages in hunter-gatherer society. Not only did the transformation aid in survival,
but compatible half-beasts rendered more children(with twins and triplets being the rule, rather than the
exception) that matured faster than their full human counterparts. The half-beast population boomed 
and spread out across the land.
</div>

<div>
As the half-beasts spreaded south, the Aztecs quickly learned of their existence and send professional
armies to capture and enslave half-beasts. In reaction to the slaving, the New Iriqouis were formed as
a federation of tribes.
</div>

<h1>Military</h1>

<h1>Government and Politics</h1>

<h1>Economy</h1>

<h1>Culture</h1>
</body>
