<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#4286f4">
<table>
<th><a href="../../../start_here.html">Home</a></th>
</table>

<div style="float: right" id="Faction profile table">
<table>
<tr>
<th>Capital</th>
<td></td>
</tr>
<tr>
<th>Population</th>
<td></td>
</tr>
<tr>
<th>Currency</th>
<td></td>
</tr>
<tr>
<th>Language(s)</th>
<td></td>
</tr>
<tr>
<th>Government</th>
<td></td>
</tr>
</table>
</div>

<h1>History</h1>
<h2>Origin</h2>
The Iriqouis existed primarily as a scattered group of nomadic hunter-gatherer
populations.

<h2>Divine intervention</h2>
The Iriquois were confronted with a divine vastly different from her acquisitive
colleagues. She quickly befriended the fae guarding the forests and made herself
a throne of gnarled branches. First contact took place when a group of hunters
found her standing in front of a cornered deer. Rather than fight them, she
cast a curse onto the land. All the humans that hunted in the land would turn
transform into a creature somewhere between man and beast. This, she figured,
would instill empathy.

<h2>Spread of the beasts</h2>
Despite some initial confusion, hunting did not cease. Given the flight of the
eagle, the hearing of the hare, the nose of the wolf, the claws of the bear,
or the eyes of the cougar, the transformed hunters found themselves more
performant than ever before. As other hunters joined the ranks of beast men, 
the population began to embrace this change as a gift. Birthing litters of
up to six at a time, the beast men spread like wildfire across the wilderness,
their hearty population only slowwed in its growth by the occasional incursions
by Aztec slavers. 

<h2>Divine civil war</h2>
Though the caretakers came to bring the goddess back to the divine realm, was
in hiding and had no human connections to sell her out. When the other divines
left, she celebrated by using her magic for the first time to make the flora
of the region flourish. The goddess then retreated into the deep forest only to
return in its defense.

<h1>Military</h1>

<h1>Government and Politics</h1>

<h1>Economy</h1>

<h1>Culture</h1>
</body>
