<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#42f47d">

<table>
<th><a href="../../start_here.html">Home</a></th>
</table>

<h1>Mundane Technology</h1>
A wide variety of technologies rely solely upon aspects of nature devoid of 
magic. These are thus names mundane arts and sciences. Below are different
categories of technology broken up by their epochs.


<h2>Epoch: Stone Age</h2>
Leveraging non-metalic materials such as bone, wood, and flint, tools were
fashioned as labor multipliers and powerful weapons against animals.

<h3>Construction</h3>
<ul>
<li>Hut</li>
<li>Tent</li>
<li>Cottage</li>
<li>Mud</li>
</ul>

<h3>Industry</h3>
<ul>
<li>Hunting(Spear, Bow)</li>
<li>Forestry(Axe)</li>
<li>Pottery</li>
<li>Agriculture</li>
<li>Boats</li>
</ul>

<h3>Military</h3>
<ul>
<li>Spear</li>
<li>Bow</li>
<li>Domestication</li>
</ul>

<h2>Epoch: Metal Age</h2>
The refining of metals such as copper and iron as well as the manufacturing
of more advanced metals such as bronze and steel allow stronger, more durable
traditional tools. Muzzle-loaded firearms become possible with these new
materials.

<h3>Construction</h3>
<ul>
<li>Brick</li>
<li>Stone</li>
<li>Plank</li>
<li>Paved roads</li>
<li>Sewers</li>
<li>Windows</li>
</ul>

<h3>Industry</h3>
<ul>
<li>Mining</li>
<li>Advanced Forestry(Saw)</li>
<li>Carpentry</li>
<li>Cement</li>
<li>Stone Working</li>
<li>Workshop</li>
<li>Glass and Metal containers</li>
<li>Sea Ships<li>
</ul>

<h3>Military</h3>
<ul>
<li>Pike</li>
<li>Knife</li>
<li>Sword</li>
<li>Muzzle loaders(Musket, Rifle, blunderbus)</li>
<li>Repeaters(Harmonica, revolver, chain)</li>
<li>Explosives</li>
</ul>

<h2>Epoch: Steam Age</h2>
The steam age leverages metal and machining to harness the power of compressed
steam. The resulting steam engine allows for significant advances in both
transportation and industrial processes. The standardization of parts allows 
machining to be easily serviced by replacing bad parts for good ones.

<h3>Construction</h3>
<ul>
<li>Metal supports</li>
<li>Rails</li>
</ul>


<h3>Industry</h3>
<ul>
<li>Factory</li>
<li>Steam-powered tooling</li>
<li>Mass Production</li>
<li></li>
</ul>


<h3>Military</h3>
<ul>
<li>Repeater(lever, bolt, rotary)</li>
<li>Break-action</li>
<li>Metal Cartridges</li>
<li>Trench warfare</li>
</ul>


<h2>Epoch: Oil Age</h2>
As machining and chemistry advanced further, oil was refined for use in
internal combustion engines. These compact, efficient devices 
coincided with the development of lighter and more durable materials required for
automobiles, automatic weapons, and portable electrical generators. 

<h3>Construction</h3>
<ul>
<li>Electric lighting</li>
</ul>


<h3>Industry</h3>
<ul>
<li>Radio</li>
<li>Electricity-powered tooling</li>
<li>Automobiles</li>
</ul>


<h3>Military</h3>
<ul>
<li>Repeater(Auto)</li>
<li>Airplane</li>
<li>Armored vehicle(Transport, Tank, Artillery)</li>
</ul>


<h2>Weapons categories</h2>


<u>
<li><a href="">Club</a></li>
<li><a href="">Axe</a></li>
<li><a href="">Spear</a></li>
<li><a href="">Bow</a></li>
<li><a href="">Knife</a></li>
<li><a href="">Sword</a></li>
<li><a href="">Firelance</a></li>
<li><a href="">Musket</a></li>
<li><a href="">Slide Bar Repeater</a></li>
<li><a href="">Turret Revolver</a></li>
<li><a href="">Revolver</a></li>
<li><a href="">Chain Repeater</a></li>
<li><a href="">Lever Repeater</a></li>
<li><a href="">Break Action Gun</a></li>
<li><a href="">Pump Action Gun</a></li>
<li><a href="">Bolt Action Gun</a></li>
<li><a href="">Autoloader</a></li>
</u>



</body>
