<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#42f47d">

<table>
<th><a href="../../start_here.html">Home</a></th>
</table>

<h1>Mundane Technology</h1>
<div>
A wide variety of technologies rely solely upon aspects of nature separate from the exploitation of mana or arcane materials. 
These mundane arts and sciences are the foundation of all applied magic tecnology. Mundane tech can be classified in a tier of
epochs. Though a rough hierarchy of these epochs might suggest a linear progression from simpler to more advanced epochs, it is
not that simple, particularly when trade and availability of resources are taken into consideration. 
</div>

<h2>Stone</h2>
<div>
The eponymous commodity of the stone age are the blades, hammers, and anvils made from stone. Mud, clay, and unprocessed lumber
are most popular construction materials due to their availability and relative ease of construction. Harnessing fire allows the
firing of earthenware capable of storing dry and wet goods.
</div>

<h2>Metal</h2>
<div>
With plentiful fuel and ore came the first attempts at metallurgy. Bronze stood above most other metals, and iron above it.
The large-scale production of stone bricks became feasible during this epoch, as did heavy body armor and shields.
</div>

<h2>Steam</h2>
<div>
Imrovements in metallurgy led to steels capable of enduring the high pressures required to build firearms, rendering heavy body armor
obsolete. The advanced metallurgy also led to the development of machines powered by steam pressure. In particular, trains offered
relatively cheap and fast transportation of large quantities of goods. 
</div>

<h2>Oil</h2>
<div>
Further developments in chemistry led to the internal combustion engine powered by alcohol and more commonly petroleum. Man-portable
tools such as chainsaws and pneumatic drills allowed greater industrial output than ever before. Factories with lines of highly-specialized
tooling turned out goods in great volumes. Likewise man-portable firearms evolved to self-load from magazines, leading to semi and fully
automatic firearms. Trench warfare quickly rendered open warfare obsolete. Airplanes were the highest development of the time, capable
of moving very quickly across great distances. 
</div>

<h2>Electric</h2>
<div>

</div>

<h2>Nuclear</h2>
<div>
</div>

</body>


