<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}

</style>
<body bgcolor="#fffb2b">

<table>
<th><a href="../start_here.html">Home</a></th>
</table>
<h1>Pantheon</h1>
<p>
The divines ventured to the overworld with many different goals.
Many capitalized on the existing mythos of their regions, whilst
others simply gained titles based on their likeness.
</p>
<p>
In addition to the actual divines, other creatures such as dragons,
colonial organisms, and even business entities rank amongst the
divines.
</p>

<h2>Major Divines</h2>
<ul>
<li>(Creator of universe)</li>
<li>(industry god, Han Dynasty)</li>
<li>Blood god (Colonial organism)</li>
<li>(Beast god)</li>
</ul>

<h2>Europa</h2>
<ul>
<li>(Goblin god)</li>
<li>(Demon god)</li>
<li>(Orc god)</li>
<li>(Dragon king)</li>
</ul>

<h2>Rome</h2>
<h3>Agricultural Divines</h3>
<div>These divines oversaw the revitalization of Roman farming.</div>
<ul>
<li>Vervactor</li>
<li>Reparator</li>
<li>Imporcitor</li>
<li>Insitor</li>
<li>Obarator</li>
<li>Occator</li>
<li>Serritor</li>
<li>Subruncinator</li>
<li>Messor</li>
<li>Conuector</li>
<li>Conditor</li>
<li>Promitor</li>
</ul>


<ul>
<li>Jupiter</li>
<li>Neptune</li>
<li>Mars</li>
<li>Apollo</li>
<li>Vulcan</li>
<li>Mercury</li>
<li>Volturnus</li>
<li>Portunus</li>
<li>Pamona</li>
<li>Palatua</li>
<li>Furrina</li>
<li>Flora</li>
<li>Ceres</li>
<li>Carmenta</li>
<li>Orcus</li>
<li>Saturn</li>
<li>Neptune</li>
<li>Sol</li>
<li>Liber</li>
<li>Terra</li>
<li>Vesta</li>
<li>Venus</li>
<li>Minerva</li>
<li>Diana</li>
<li>Luna</li>
<li>Janus</li>
<li>Juno</li>
<li>Vejovis</li>
<li>Fides</li>
<li>Fontus</li>
<li>Fortuna</li>
<li>Salus</li>
<li>Pales</li>
<li>Feronia</li>
<li>Ops</li>
<li>Larunda</li>
<li>Terminus</li>
<li>Vertumnus</li>
<li>Lucina</li>
<li>Summanus</li>
<li>Bonus Eventus</li>
<li>Lympha</li>
<li>Robigus</li>
<li>Silvanus</li>
<li>Triptolemus</li>
<li>Pan</li>
<li>Aristaeus</li>
<li>Cyrene</li>
<li>Faunus</li>
<li>Rusina</li>
<li>Rusor</li>
<li>Sator</li>
<li>Seia</li>
<li>Segesta</li>
<li>Hostilina</li>
<li>Lactans</li>
<li>Volutina</li>
<li>Nodutus</li>
<li>Patelana</li>
<li>Runcina</li>
<li>Messia</li>
<li>Tutlina</li>
<li>Noduterensis</li>
<li>Sterquilinus</li>
<li>Jugatinus</li>
<li>Subigus</li>
<li>Prema</li>
<li>Inuus</li>
<li>Libera</li>
<li>Vitumnus</li>
<li>Sentinus</li>
<li>Proserpina</li>
<li>Hecate</li>
<li>Mana Genita</li>
<li>Pilumnus</li>
<li>Deverra</li>
<li>Hercules</li>
<li>Potina</li>
<li>Edusa</li>
<li>Ossipago</li>
<li>Carna</li>
<li>Cunina</li>
<li>Cuba</li>
<li>Paventia</li>
<li>Peta</li>
<li>Agenoria</li>
<li>Adeona</li>
<li>Abeona</li>
<li>Interduca</li>
<li>Dominiduca</li>
<li>Catius pater</li>
<li>Farinus</li>
<li>Fabulinus</li>
<li>Locutius</li>
<li>Mens</li>
<li>Volumnus</li>
<li>Numeria</li>
<li>Camena</li>
</ul>
