<!DOCTYPE html>
<style>
table, th, td {
  border: 1px solid black;
  min-width: 150px;
  min-height: 50px;
}
</style>
<body bgcolor="#4286f4">
<table>
<th><a href="../../../start_here.html">Home</a></th>
</table>

<div style="float: right" id="Faction profile table">
<table>
<tr>
<th>Capital</th>
<td>Persepolis</td>
</tr>
<tr>
<th>Population</th>
<td></td>
</tr>
<tr>
<th>Currency</th>
<td></td>
</tr>
<tr>
<th>Language(s)</th>
<td></td>
</tr>
<tr>
<th>Government</th>
<td></td>
</tr>
</table>
</div>
<h1>History</h1>
<div>
The Parthians earned a name for themselves far before the divines came to the overworld.
Refugees from a war in the dream realm sought refuge in the Parthian empire. These 
dreamers brought with them a wealth of knowledge of the arcane arts, which they shared
openly with their protectors. Parthian mages provided economic, industrial, and 
military power that neighboring regions simply lacked. It's this advantage that
put Persia on the world map. 
</div>

<h1>Government and Politics</h1>
<div>
Persia is an absolute monarchy at the federal level, but has semi-autonomous
provinces governed by satraps at lower levels of authority. After magic turned
Persia into a regional superpower, Satraps were assigned to the localities of
each province, serving as mayors. Despite the autonomy of the Satraps, they all
answer to the king and provide the king's administration with tribute. The 
professional army is hosted from the federal level, and will enforce the king's
will.
</div>
<h1>Economy</h1>

<h1>Culture</h1>
</body>
